<!DOCTYPE html>
<html>
  <head>
    <!-- meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta id="theme-color" name="theme-color" content="#55AAFF" />
    
    <title>Podcast Player</title>
    
    <!-- styles -->
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/player.css" />
    
  </head>
  <body>
    
    <!-- nav -->
    <nav class="card">
      <a href="/" class="logo">Podcast Player</a>
    </nav>
    
    <div class="container grid">
      <div id="player" class="card">
        <img class="cover" src="/img/empty-album-cover.png" />
        <div class="controls"><div id="playpause"></div></div>
        <div class="info"></div>        
      </div>
    </div>
    
    <div class="container grid">
      <div class="card">Content</div>
      <div class="card">Content</div>
      <div class="card">Content</div>
      <div class="card">Content</div>
      <div class="card">Content</div>
    </div>
    
    <!-- javascript dependencies -->
    <script type="text/javascript" src="https://unpkg.com/cachep2p/cachep2p.min.js"></script>
    <script type="text/javascript" src="/js/ff/ff.js"></script>
    <script type="text/javascript" src="/js/ff/ff-plugin-promise.js"></script>
    <script type="text/javascript" src="/js/ff/ff-plugin-ajax.js"></script>
    
    <!-- javascript -->
    <script type="text/javascript" src="/js/init.js"></script>
    
    <script type="text/javascript">
      ff
        .ajax('http://127.0.0.1:8887/proxy.php?url=http://communionafterdark.com/rss.xml')
        .then(function(data) {
          console.log(data);
        });
    </script>
  </body>
</html>