/* Basics */
@import url("//fonts.googleapis.com/css?family=Roboto:300,400,500,700");
html {
  background : #E8E7E6;
  color      : #555;
  font-family: Roboto, sans-serif;
  font-size  : calc(0.8rem + 0.75vw);
}
html, body {
  margin     : 0;
  padding    : 0;
}
* {
  box-sizing: border-box;
  margin    : 0;
  padding   : 0;
}
a {
  color: #5AF;
}

/* nav */
nav {
  font-size    : 0;
  margin-bottom: 0.5rem;
}
nav a {
  display        : inline-block;
  font-size      : 1.1rem;
  padding        : 0.5em;
  text-decoration: none;
}
nav a[href]:hover {
  background: rgba(0,0,0,0.1);
  cursor    : pointer;
}

/* shadows */
.card,
.card-hover {
  background   : #FFF;
  border-radius: 0.1rem;
  box-shadow   : 0 1px 3px rgba(0,0,0,0.12),
                 0 1px 2px rgba(0,0,0,0.24);
  transition   : box-shadow 0.3s cubic-bezier(0.25,0.8,0.25,1);
}
.card-hover:hover {
  box-shadow: 0 4px 16px rgba(0,0,0,0.25),
              0 8px 16px rgba(0,0,0,0.22);
}

/* container */
.container {
  margin   : 0 auto;
  max-width: 40rem;
}

/* grid */
.grid {
  display  : flex;
  flex-flow: row wrap;
}
.grid > * {
  flex-basis: 19rem;
  flex-grow : 1;
  margin    : 0.5rem;
}

.pad {
  padding: 1rem;
}