#player {
  height: 5rem;
}

#player > * {
  float: left;
}

#player img.cover {
  height      : 100%;
  margin-right: 2rem;
}

#player .controls {
  line-height: 5rem;
  font-size  : 2rem;
}

#playpause:before {
  content: "▶";
}

#playpause.playing:before {
  content: "▮▮";
}